
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
html {
  font-family: "LotteMartDream", sans-serif;
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.inline-grid {
  font-size: 0;
}

.inline-grid > * {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.border-red {
  border: 10px solid red;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.top-bar {
  background-color: beige;
  color: black;
}

.top-bar > div:first-child {
  width: 240px;
}

.top-bar > div:nth-child(2) {
  width: calc(100% - 240px - 650px);
}

.top-bar > div:last-child {
  width: 650px;
}

.top-bar__logo {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 20px;
}

.top-bar__menu-box-1 > ul > li {
  font-size: 1.05rem;
  position: relative;
}

.top-bar__menu-box-1 > ul > li > a {
  padding: 22.5px 45px;
  display: block;
}

.top-bar__menu-box-1 > ul > li:hover > a {
  background-color: white;
  color: #232323;
}
.top-bar__menu-box-1 ul > li:hover > a {
  background-color: beige;
  color: black;
}

.top-bar__menu-box-1 > ul > li > ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
}

.top-bar__menu-box-1 > ul > li:hover > ul {
  display: block;
}
