/* 로보토 Condensed 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* 롯데마트드림 폰트 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2") format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff") format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2") format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff") format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2") format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff") format("woff");
}

html {
  font-family: "Roboto Condensed", "LotteMartDream", sans-serif;
}

/* 노말 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.inline-grid {
  font-size: 0;
}

.inline-grid>* {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.border-red {
  border: 10px solid red;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

/* 커스텀 */
.con {
  width:1200px;
}

/* 탑바 시작 */
.top-bar {
  background-color: beige;
  color: black;
}

.top-bar>.con>div:first-child {
  width: 240px;
}

.top-bar>.con>div:nth-child(2) {
  width: calc(100% - 240px - 650px);
}

.top-bar>.con>div:last-child {
  width: 650px;
}

.top-bar__logo {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 20px;
}

.top-bar__menu-box-1>ul>li {
  font-size: 1.05rem;
  position: relative;
}

/* 모든 메뉴 아이템 텍스트 */
.top-bar__menu-box-1 ul>li>a {
  display: block;
  white-space: nowrap;
}

/* 1차 메뉴 아이템 텍스트 */
.top-bar__menu-box-1>ul>li>a {
  padding: 22.5px 30px;
}

/* 서브 메뉴 아이템 텍스트 */
.top-bar__menu-box-1>ul ul>li>a {
  padding: 22.5px 0;
  text-align: center;
}

.top-bar__menu-box-1 ul>li:hover>a {
  background-color: beige;
  color:black;
}

.top-bar__menu-box-1>ul>li>ul {
  display: none;
  position: absolute;
  background-color: black;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.top-bar__menu-box-1>ul>li:hover>ul {
  display: block;
}
/* 탑바 끝 */

/* work-list-box 시작 */
.work-list-box > ul > li {
  width:25%;
  /* 이렇게 해도 이미지 하단에 여백이 제거됩니다. */
  /* line-height:0; */
}

.work-list-box > ul > li > img {
  width:100%;
  /* 이렇게 하면 이미지가 inline 요소가 아니게 되니, 하단 여백의 근원이었던 line(줄) 자체가 없어집니다. */
  display: block;
}
/* work-list-box 끝 */